[{:entity urls/urls
  :data {:id "12345"
         :url "https://someawesomewebsite.com"}}
 {:entity urls/urls
  :data {:id "67890"
         :url "https://anotherwebsite.com?some=param"}}
 {:entity urls/urls
  :data {:id "23456"
         :url "https://myspace.com"}}]
