[{:table :urls
  :data [{:id "12345"
          :url "https://someawesomewebsite.com"}
         {:id "67890"
          :url "https://anotherwebsite.com?some=param"}
         {:id "23456"
          :url "https://myspace.com"}]}]
